version: '3.8'

services:
  backend:
    build: ./backend
    ports:
      - "8000:8000"
    volumes:
      - ./backend:/app
    environment:
      - BACKEND_CORS_ORIGINS=https://signluck.online,http://localhost:5173
      - PYTHONUNBUFFERED=1

  frontend:
    build: ./frontend
    ports:
      - "5173:5173"
    volumes:
      - ./frontend:/app
      - /app/node_modules
    # Команда для запуска Vue в режиме разработки
    command: npm run dev -- --host
